<header class="app-header">
{{!--     <nav>
      <select>
        <option>Home</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </nav> --}}
    {{#link-to 'index' tagName="div" class="logo"}}
      <img src="assets/images/fitstrong-logo-white-med.png" alt="FITstrong" />
    {{/link-to}}

</header>

<main>
  {{outlet}}
</main>

<footer class="app-footer">
  <ul class="menu {{if isMenuExpanded 'is-expanded'}}">
    <li class="more" {{action 'toggleMenu'}}>{{partial 'svg/ico-arrow'}}</li>
    
    {{#link-to 'index' tagName="li"}}{{partial 'svg/ico-home'}}{{/link-to}}
    {{#link-to 'membership-options' tagName="li"}}{{partial 'svg/ico-brochure'}}{{/link-to}}

    <li>{{partial 'svg/ico-calendar'}}</li>
    <li>{{partial 'svg/ico-booking'}}</li>
    
    <li>{{partial 'svg/ico-map'}}</li>
    <li>{{partial 'svg/ico-phone'}}</li>
    <li>{{partial 'svg/ico-mail'}}</li>
    
    <li>{{partial 'svg/ico-facebook'}}</li>
    <li>{{partial 'svg/ico-twitter'}}</li>
    <li>{{partial 'svg/ico-youtube'}}</li>
  </ul>

</footer>